<div class="item flex mb-6 [&.removed]:hidden" data-variant-id="{{ item.variant_id }}">
  
  <a href="{{ item.product.url }}">{{ item.product.featured_image | image_url: width: 120, height: 120 | image_tag: class: 'min-w-[100px] max-w-[100px] min-h-[100px] max-h-[100px] mr-3' }}</a>

  <div class="item-info w-full flex justify-between">

    <div class="left mr-2">
      <h6 class="tracking-wide leading-tight">{{ item.product.title }}</h6>
      <p class="mb-0 text-[13px] opacity-70 leading-tight">Størrelse: {{ item.variant.title }}</p>
      <p class="mb-0 text-[13px] opacity-70 leading-tight">Antal: {{ item.quantity }}</p>
      {% render 'custom-label', item: item %}
    </div>

    <div class="right ml-2 text-right">
      <p class="font-semibold mb-0 tracking-tight whitespace-nowrap">{{ item.final_line_price | money }}</p>
      <span class="inline-block remove-item text-[13px] font-medium underline px-2 -mx-2 py-[2px] rounded-sm hover:cursor-pointer hover:bg-gray-background">Fjern</span>
    </div>
      
  </div>

</div>