{%- comment -%}
  Source: https://shopify.dev/themes/product-merchandising/media/support-media
{%- endcomment -%}

{% case media.media_type %}
  {% when 'image' %}
    <div class="media-item bg-gray-background max-w-full" data-media-id="{{ media.id }}">
      {{ media | image_url: width: 1440, height: 1440 | image_tag }}
    </div>
  {% when 'video' %}
    <div class="media-item bg-gray-background" data-media-id="{{ media.id }}">
      {{ media | video_tag: controls: true }}
    </div>
  {% when 'model' %}
    <div class="media-item bg-gray-background" data-media-id="{{ media.id }}">
      {{ media | model_viewer_tag }}
    </div>
  {% else %}
    <div class="media-item bg-gray-background" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}