{% form 'product', product, id: 'product-form', class: 'grid grid-cols-1 gap-y-3' %}

<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

<select name="id" class="input w-full">
  {% for variant in product.variants %}
    {%- if variant.available -%}
      <option value="{{ variant.id }}">
        {{ variant.title }} - {{ variant.price | money }}
        {%- if variant.inventory_quantity < 3 -%}
          (Få tilbage)
        {%- endif -%}
      </option>
    {%- else -%}
      <option value="{{ variant.id }}" disabled>
        {{ variant.title }} - {{ variant.price | money }} (Udsolgt)
      </option>
    {%- endif -%}
  {% endfor %}
</select>

<input 
  class="add-to-cart button primary w-full hover:cursor-pointer disabled:bg-gray-border disabled:border-gray-border disabled:cursor-not-allowed" 
  type="submit" 
  value="Læg i kurv"
  {%- if product.selected_or_first_available_variant.available == false -%}
    disabled
  {%- endif -%}
>

{% endform %}