{% form 'product', product, id: 'product-form', class: 'grid grid-cols-1 gap-y-3' %}

<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

  <select id="product-select" name="id" class="input w-full hidden">
    {% for variant in product.variants %}
      {%- if variant.available -%}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {%- endif -%}
    {% endfor %}
  </select>

  <div class="custom-selector">
    {% comment %} <label class=" text-sm tracking-wide opacity-50 mb-3 block">Købsmuligheder</label>
    <div class="product-variants radio">
      {%- for variant in product.variants -%}
        <div class="variant">
          {%- if variant.inventory_quantity > 0 -%}
            {%- if variant.id == product.selected_or_first_available_variant.id -%}
              <input checked class="hidden" type="radio" id="{{ variant.id }}" name="product-variants" value="{{ variant.id }}">
              <label class="variant-option checked" for="{{ variant.id }}">{{- variant.title -}}</label>
            {%- else -%}
              <input class="hidden" type="radio" id="{{ variant.id }}" name="product-variants" value="{{ variant.id }}">
              <label class="variant-option" for="{{ variant.id }}">{{- variant.title -}}</label>
            {%- endif -%}
          {%- else -%}
            <input class="hidden" disabled type="radio" id="{{ variant.id }}" name="product-variants" value="{{ variant.id }}">
            <label class="variant-option disabled" for="{{ variant.id }}">{{- variant.title -}}</label>
            <div class="cross">
              <span></span>
              <span></span>
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div> {% endcomment %}
    <div class="product-variants select relative">
      <div class="select w-full border-solid border-2 border-ocean-500 hover:cursor-pointer">
        <div class="inner px-5 py-3 pr-[calc(24px+20px+16px)] flex justify-start items-center">
          <span class="opacity-50 select-none">Vælg</span>
          <span class="item"></span>
          <span class="price"></span>
        </div>
        {% render 'icon', icon: 'simple-arrow', class: 'absolute top-[50%] right-[20px] translate-y-[-50%]' %}
      </div>
      <div class="dropdown w-full border-solid border-2 border-ocean-500 flex-col absolute top-[calc(100%-2px)] left-0 z-10 bg-white hidden">
        {%- for variant in product.variants -%}
          {%- if variant.available == false -%}
            <div disabled class="variant px-5 py-4 flex justify-start items-center border-b-[1px] border-b-solid border-b-gray-border hover:cursor-pointer hover:bg-gray-background pointer-events-[all]">
              <span class="title font-medium opacity-50">{{ variant.title }}</span>
              
              {%- if variant.price > 300000 -%}
                <span class="notice text-sm bg-pearl-500 font-medium rounded-[2px] px-2 py-1 ml-3 hidden lg:block">+Marmoræske</span>
              {%- endif -%}
            
              <div class="prices ml-auto">
                <span class="price opacity-50">Udsolgt</span>
              </div>
            </div>
          {%- else -%}
            <div data-variant="{{ variant.id }}" class="variant px-5 py-4 flex justify-start items-center border-b-[1px] border-b-solid border-b-gray-border hover:cursor-pointer hover:bg-gray-background pointer-events-[all]">
              <span class="title font-medium">{{ variant.title }}</span>
              
              {%- liquid 
                assign grams = variant.title | remove_last: 'g' | plus: 0 
                assign allowedTags = 'caviar, kaviar, Kaviar, Caviar' | split: ', '
                assign isCaviar = false
                for allowedTag in allowedTags
                  if product.tags contains allowedTag
                    assign isCaviar = true
                  endif
                endfor
              -%}
              {%- if grams >= 50 and isCaviar -%}
                <span class="notice text-sm bg-pearl-500 font-medium rounded-[2px] px-2 py-1 ml-3">+Marmoræske</span>
              {%- endif -%}
            
              <div class="prices ml-auto">
                {% if variant.compare_at_price %}
                  <span class="before-price opacity-50 line-through mr-1">{{ variant.compare_at_price | money }}</span>
                {% endif %}
                <span class="price">{{ variant.price | money }}</span>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>  
    </div>
  </div>

  {% comment %} <div class="custom-selectors">
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="variant-selector">
          <label class="variant-title">{{ option.name }}</label>
          <div class="select">
            {% for value in option.values %}
              <div class="option">
                <input type="radio" id="{{ value | escape }}" name="{{ option.name | escape }}" value="{{ value | escape }}">
                <label for="{{ value | escape }}">{{ value | escape }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endunless %}
  </div> {% endcomment %}

<input 
  class="add-to-cart button primary w-full hover:cursor-pointer disabled:bg-gray-border disabled:border-gray-border disabled:cursor-not-allowed" 
  type="submit" 
  value="Læg i kurv"
  {%- if product.selected_or_first_available_variant.available == false -%}
    disabled
  {%- endif -%}
>

{% endform %}