<footer class="bg-ocean-500 text-white py-10">

  <div class="container">

    <div class="flex justify-between items-center max-md:flex-col">

      
      {% if section.settings.logo %}
        <div class="max-w-[200] max-md:mb-6">
          <h1>HEY {{ section.settings.logo_width }}</h1>
          {{ section.settings.logo | image_url: width: 300 | image_tag: class: 'footer-logo w-full h-auto object-contain block' }}
        </div>
      {% else %}
        <h3>Logo Missing</h3>
      {% endif %}

      <div class="md:text-right">

        <div class="flex md:-mx-3 text-sm max-md:flex-col max-md:-my-2 max-md:items-center max-md:text-center">
          {% if section.settings.menu %}
            {% for link in section.settings.menu.links %}
              <a class="block md:mx-2 hover:underline max-md:my-2" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% else %}
            <p>Missing menu</p>
          {% endif %}
          <p class="md:mx-3 max-md:my-2">© FarSea.dk {{ "now" | date: "%Y" }}</p>
        </div>

        {% if section.settings.payment_icons %}
          <div class="mt-6 md:mt-4"> 
            {{ section.settings.payment_icons | image_url: height: 70 | image_tag: class: "payment-icons h-[28px] w-auto object-contain mx-auto md:ml-auto md:mr-0" }}
          </div>
        {% endif %}

      </div>

    </div>

  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "label": "Logo",
      "id": "logo",
      "type": "image_picker"
    },

    {
      "label": "Logo Width",
      "id": "logo_width",
      "type": "range",
      "min": 75,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 120
    },
    {
      "label": "Payment Icons",
      "id": "payment_icons",
      "type": "image_picker"
    },
    {
      "label": "Menu",
      "id": "menu",
      "type": "link_list"
    }
  ]
}
{% endschema %}