{% assign ss = section.settings %}
{% assign heightClass = "min-h-[500px]" %}
{% if section.settings.height == "small" %}
  {% assign heightClass = "min-h-[300px]" %}
{% endif %}
{% if ss.button_target_1 %}
  {% assign bt_1 = '_blank' %}
{% else %}
  {% assign bt_1 = '' %}
{% endif %}
{% if ss.button_target_2 %}
  {% assign bt_2 = '_blank' %}
{% else %}
  {% assign bt_2 = '' %}
{% endif %}

<div class="{{ heightClass }} bg-ocean-500 text-white py-20 relative text-center grid items-center">
  <div class="container relative z-10">
    <h1 class="mb-2">{{ ss.heading }}</h1>
    <h3 class="text-pearl-500">{{ ss.text }}</h3>
    <div class="inline-block pt-8">
      {%- if ss.button_label_1 != blank -%}
        <a class="button white w-[150px] mr-1" href="{{ ss.button_link_1 }}" target="{{ bt_1 }}">{{ ss.button_label_1 }}</a>
      {%- endif -%}
      {%- if ss.button_label_2 != blank -%}
        <a class="button white outline w-[150px] ml-1" href="{{ ss.button_link_2 }}" target="{{ bt_2 }}">{{ ss.button_label_2 }}</a>
      {%- endif -%}
    </div>
  </div>
  <div class="absolute top-0 left-0 w-[100%] h-[100%] z-0">
    <div class="bg-ocean-500 absolute top-0 left-0 w-[100%] h-[100%] opacity-80"></div>
    {%- if ss.desktop_image != nil -%}
      {{ ss.desktop_image | image_url: width: 1024 | image_tag: preload: true, class: "hidden md:block image-bg" }}
    {%- endif -%}
    {%- if ss.mobile_image != nil -%}
      {{ ss.mobile_image | image_url: height: 1024 | image_tag: preload: true, class: "block md:hidden image-bg" }}
    {%- endif -%}
  </div>
  <div class="udforsk absolute bottom-8 left-[50%] translate-x-[-50%]">
    <p class=" font-semibold tracking-[0.16em] uppercase text-sm">Udforsk</p>
    {% render 'icon', icon: "simple-arrow", class: "mt-[8px] animate-bounce" %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "class": "section-hero-banner",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "label": "Heading",
      "id": "heading",
      "type": "text",
      "default": "Welcome to our store!"
    },
    {
      "label": "Text",
      "id": "text",
      "type": "text",
      "default": "Lorem ipsum dolor..."
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "label": "Background Image (Desktop)",
      "id": "desktop_image",
      "type": "image_picker"
    },
    {
      "label": "Background Image (Mobile)",
      "id": "mobile_image",
      "type": "image_picker"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "label": "Label",
      "id": "button_label_1",
      "type": "text",
      "default": "Shop all"
    },
    {
      "label": "Button Link",
      "id": "button_link_1",
      "type": "url"
    },
    {
      "label": "Open in new tab",
      "id": "button_target_1",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "label": "Label",
      "id": "button_label_2",
      "type": "text",
      "default": "Learn more"
    },
    {
      "label": "Button Link",
      "id": "button_link_2",
      "type": "url"
    },
    {
      "label": "Open in new tab",
      "id": "button_target_2",
      "type": "checkbox",
      "default": false
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "label": "Height",
      "id": "height",
      "type": "select",
      "default": "large",
      "options": [
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Small",
          "value": "small"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}