<section class="my-section container product-page">
  <div class="grid relative lg:grid-cols-[6fr_4fr] lg:gap-x-16 lg:items-start">

    <div class="media desktop hidden lg:block">
      {% render 'product-media', media: product.featured_media %}
      <div class="grid grid-cols-2 gap-2 mt-2">
        {% for media in product.media %}
          {%- if media == product.featured_media -%}
            {%- continue -%}
          {%- endif -%}
          {% render 'product-media', media: media %}
        {% endfor %}
      </div>
    </div>

    <div class="media mobile block w-[100vw] -mx-[6vw] overflow-hidden lg:hidden mb-6">
      <div class="product-media-swiper relative">
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            <div class="swiper-slide">
              {% render 'product-media', media: media %}
            </div>
          {%- endfor -%}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    
    <div class="product-info lg:sticky lg:top-6 lg:left-0">
      {% render 'breadcrumbs' %}
      <h1 class="h2 m-0">{{ product.title }}</h1>

      <p class="text-[18px] mt-2 mb-6 md:mt-4 md:mb-8">{% render 'price', product %}</p>

      <div class="text-[15px] mb-8 md:mb-10">
        <div class="short-desc">
          {{ product.description | truncatewords: 20, '...' }}
          {%- assign descSize = product.description | split: ' ' | size -%}
          {%- if descSize > 20 -%}
            <p class="mb-0 inline-block font-medium hover:cursor-pointer" id="desc-read-more">Læs mere</p>
          {%- endif -%}
        </div>
        {%- if descSize > 20 -%}
          <div class="desc hidden">
            {{ product.description }}
            <p class="mb-0 inline-block font-medium hover:cursor-pointer" id="desc-read-less">Læs mindre</p>
          </div>
        {%- endif -%}
      </div>

      {% render 'product-form', product: product %}

      <div class="keypoints mt-10">
        <ul>
          {% for block in section.blocks %}
            {% if block.type == "key-point" %}
              <li class="border-solid border-[1px] border-gray-border flex items-center py-3 px-4 mb-[-1px]">
                {% render 'icon', icon: 'star' %}
                <p class="h5 mb-0 mt-[5px] ml-4">{{ block.settings.text }}</p>
              </li>
            {% endif %}            
          {% endfor %}
        </ul>      
      </div>

      <div class="product-details mt-10">
        <ul class="accordion">
          {% for block in section.blocks %}
            {% if block.type == "read-more-item" %}
              <li class="group accordion-item active mb-[-1px] border-t-[1px] border-b-[1px] border-solid border-gray-border hover:cursor-pointer">
                <div class="accordion-title py-3 px-4 group-hover:bg-gray-background duration-75">
                  <p class="h5 m-0">{{ block.settings.title }}</p>
                  {% render 'icon', icon: 'arrow', class: 'absolute top-[50%] right-6 translate-y-[-50%]', iconClass: 'rotate-[-90deg] duration-300' %}
                </div>
                <div class="accordion-panel">
                  <div class="py-3 px-4">
                    {{ block.settings.text }}
                  </div>
                </div>
              </li>
            {% endif %}            
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Main Product",
    "settings": [
    
    ],
    "blocks": [
      {
        "name": "Key Point",
        "type": "key-point",
        "limit": 3,
        "settings": [
          {
            "label": "Text",
            "id": "text",
            "type": "text"
          }
        ]
      },
      {
        "name": "Read More Item",
        "type": "read-more-item",
        "settings": [
          {
            "label": "Title",
            "id": "title",
            "type": "text"
          },
          {
            "label": "Text",
            "id": "text",
            "type": "richtext"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Produkt Banner",
        "settings": {
        },
        "blocks": [
          {
            "type": "key-point",
            "settings": {
              "text": "Fri fragt fra 600 kr."
            }
          },
          {
            "type": "key-point",
            "settings": {
              "text": "2% Går til Project Clean Ocean"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
