<section class="my-section container">
  <div class="grid grid-cols-[6fr_4fr] gap-x-16 items-start relative">

    <div class="media">
      {% render 'product-media', media: product.featured_media %}
      <div class="grid grid-cols-2 gap-2 mt-2">
        {% for media in product.media %}
          {%- if media == product.featured_media -%}
            {%- continue -%}
          {%- endif -%}
          {% render 'product-media', media: media %}
        {% endfor %}
      </div>
    </div>

    <div class="product-info sticky top-6 left-0">
      <h1 class="h2 m-0">{{ product.title }}</h1>
      <p class="text-[18px] mt-4 mb-8">{%- if product.price_varies -%}Fra&nbsp;{%- endif -%}{{ product.price | money }}</p>
      <p class="text-[15px] mb-10">{{ product.description }}</p>

      {% render 'product-form', product: product %}

      <div class="keypoints mt-10">
        <ul>
          {% for block in section.blocks %}
            {% if block.type == "key-point" %}
              <li class="border-solid border-[1px] border-gray-border flex items-center py-3 px-4 mb-[-1px]">
                {% render 'icon', icon: 'star' %}
                <p class="h5 mb-0 mt-[5px] ml-4">{{ block.settings.text }}</p>
              </li>
            {% endif %}            
          {% endfor %}
        </ul>      
      </div>

      <div class="product-details mt-10">
        <ul class="accordion">
          {% for block in section.blocks %}
            {% if block.type == "read-more-item" %}
              <li class="accordion-item active mb-[-1px] border-t-[1px] border-b-[1px] border-solid border-gray-border hover:cursor-pointer">
                <div class="accordion-title py-3 px-4 group-hover:bg-gray-background duration-75">
                  <p class="h5 m-0">{{ block.settings.title }}</p>
                  {% render 'icon', icon: 'arrow', class: 'absolute top-[50%] right-6 translate-y-[-50%]', iconClass: 'rotate-[-90deg] duration-300' %}
                </div>
                <div class="accordion-panel">
                  <div class="py-3 px-4">
                    {{ block.settings.text }}
                  </div>
                </div>
              </li>
            {% endif %}            
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Main Product",
    "settings": [
    
    ],
    "blocks": [
      {
        "name": "Key Point",
        "type": "key-point",
        "limit": 3,
        "settings": [
          {
            "label": "Text",
            "id": "text",
            "type": "text"
          }
        ]
      },
      {
        "name": "Read More Item",
        "type": "read-more-item",
        "settings": [
          {
            "label": "Title",
            "id": "title",
            "type": "text"
          },
          {
            "label": "Text",
            "id": "text",
            "type": "richtext"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Produkt Banner",
        "settings": {
        },
        "blocks": [
          {
            "type": "key-point",
            "settings": {
              "text": "Fri fragt fra 600 kr."
            }
          },
          {
            "type": "key-point",
            "settings": {
              "text": "2% Går til Project Clean Ocean"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
