{% assign title_blocks = section.blocks | where: 'type', 'title' %}

{% style %}
  #pre-header {
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  }
  #pre-header strong {
    color: {{ section.settings.strong_color }}
  }
{% endstyle %}

<div id="pre-header" class="text-xs tracking-wide h-8 md:flex md:items-center md:grid md:place-items-center">
  {% comment %} Desktop {% endcomment %}
  <div class="hidden md:flex container justify-between items-center relative">
    {% for block in title_blocks %}
      {% if forloop.index == 2 %}
        <div class="font-medium absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]">
          {{ block.settings.title | upcase }}
        </div>
      {% else %}
        <div class="font-medium">
          {{ block.settings.title | upcase }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% comment %} Mobile {% endcomment %}
  <div class="md:hidden w-full h-full relative">
    {%- for i in (1..2) -%}
      <div class="pre-header-slide-text inline-flex absolute top-[50%] left-[100%] translate-y-[-50%]">
          {%- for block in title_blocks -%}
            <div class="font-medium px-4 whitespace-nowrap">
              {{ block.settings.title | upcase }}
            </div>
          {%- endfor -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Pre Header",
  "settings": [
    {
      "label": "Background",
      "id": "background",
      "type": "color",
      "default": "#0E1C37"
    },
    {
      "label": "Text Color",
      "id": "text_color",
      "type": "color",
      "default": "#FFFFFF"
    },
    {
      "label": "Strong Color",
      "id": "strong_color",
      "type": "color",
      "default": "#F3DA9F"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "limit": 3,
      "settings": [
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "title",
        "settings": {
          "title": "Fremragende på TrustPilot"
        }
      },
      {
        "type": "title",
        "settings": {
          "title": "Fri fragt fra 600 kr."
        }
      },
      {
        "type": "title",
        "settings": {
          "title": "1-3 dages levering"
        }
      }
    ]
  }
}
{% endschema %}