<div class="my-section overflow-hidden" style="overflow:hidden;">
  <div class="container text-center">
    <h2 class="h1 mb-8">{{ section.settings.heading }}</h2>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "testimonial" %}
          <div class="swiper-slide !h-auto hover:cursor-grab">
            <div class="grid place-items-center h-full p-12 ml-[-1px] border-solid border-gray-border border-[1px] relative">
              <div class="text-center">
                <div>
                  <div class="flex justify-center mb-3 text-pearl-500">
                    {% for i in (1..block.settings.rating) %}
                      {% render 'icon', icon: 'star', class: 'mx-0.5' %}
                    {% endfor %}
                  </div>
                  <p class="h5 font-body">
                    {{ block.settings.quote }}
                  </p>
                </div>
                <div class="mx-auto mt-10 text-left flex justify-center items-center">
                  {% if block.settings.profile %}
                    {{ block.settings.profile | image_url: width: 100 | image_tag: class: "rounded-full w-16 h-16 object-cover mr-3" }}
                  {% endif %}
                  <div>
                    <p class="font-bold mb-[-4px]">{{ block.settings.name }}</p>
                    <p class="text-sm">{{ block.settings.below_name_text }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>

    <div class="button-prev select-all">
      {% render 'icon', icon: 'arrow', class: "pointer-events-none" %}
    </div>
    <div class="button-next select-all">
      {% render 'icon', icon: 'arrow', class: "pointer-events-none", iconClass: 'rotate-180' %}
    </div>

  </div>

  {% if section.settings.button_link %}
    <div class="container text-center mt-6">
      <a class="button secondary outline" href="{{ section.settings.button_link }}" target="_blank">{{ section.settings.button_text }}</a>
    </div>
  {% endif %}
</div>


{% schema %}
{
  "name": "Testimonials",
  "class": "section-testimonials",
  "settings": [
    {
      "label": "Heading",
      "id": "heading",
      "type": "text"
    },
    {
      "label": "Button Text",
      "id": "button_text",
      "type": "text"
    },
    {
      "label": "Button Link",
      "id": "button_link",
      "type": "url"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
        {
          "label": "Rating",
          "id": "rating",
          "type": "range",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "label": "Quote",
          "id": "quote",
          "type": "inline_richtext"
        },
        {
          "label": "Name",
          "id": "name",
          "type": "text"
        },
        {
          "label": "Below Name Text",
          "id": "below_name_text",
          "type": "text"
        },
        {
          "label": "Profile Picture",
          "id": "profile",
          "type": "image_picker"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
